@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f7f9f9;
}

.bg-pinegreen{
    background-color: #157A6E;
}
.hover\:bg-pinegreen-40:hover {
    background-color: #0C4941;
}
.text-pinegreen{
    color: #157A6E;
}
.hover\:text-pinegreen-40:hover{
    color: #0C4941;
}