{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="w-full bg-pinegreen hover:bg-pinegreen-40 text-white font-medium py-2.5 rounded-lg transition-colors">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}